/* COMMON */
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
a {
    text-decoration: none;
    /* a 태그 설정 시 택스트 하단의 밑줄 제거 */
}

/* BUTTON */
.btn {
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    color: #333;
}

.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
}


/* INPUT TEXT */
.input--text {
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    /* outline 택스트 박스 클릭시 생기는 테두리 하이라이트 제어 */
    /* box-shadow: (내부에 생기도록) x축 y축 블러 색상 */
}

.input--text:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
        0 0 5px rbba(81, 167, 232, 0.5)
        /* focus 시 box-shadow를 하나만 설정하면 먼저 설정되어 있는 box-shadow가 사라지는데 
  이를 쉼표로 연결해서 작성해 놓으면 사라지지 않고 두 개의 box-shadow가 설정됨 */
}

/* Vendor Prefix (브라우저 업체별 접두사) 브라우저가 제공하는 시험적 기능을 사용하는 접두사
    크롬 : webkit
    인터넷 익스플로어, 엣지: ms
    파이어폭스: moz
    오페라: o */
.input--text::-webkit-input-placeholder {color: #cacaca;}
.input--text::-ms-input-placeholder {color: #cacaca;}
.input--text::-moz-input-placeholder {color: #cacaca;}


/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}
/* 컨테이너가 자식들을 감싸지 못하는 것을 수정하기 위한 clearfix
요소들을 float으로 부유 시킨 후 clearfix로 덮음 */


/* SUMMARY */
.summary__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
}
.summary__description {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
    margin-bottom: 18px;
}


/* SECTION & INNER */
.section {
    position: relative;
    /* inner 내부에서 position: absolute가 사용되면 부모 요소에 position이 설정되어야 하는데
    이것이 부모 요소를 타고 올라가다 inner에서는 멈추게 하기 위해 position: relative를 설정 */
}
.section .inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    /* 컨텐츠 가로 중앙 정렬 방법: width를 설정한 다음 margin을 auto로 맞추면 해당 넓이로
    중앙 정렬됨 */
    /* padding속성이 들어갔을때 요소가 커지는 것을 방지하기 위해 border-box로 설정 */
    /* inner 내부에서 position: absolute가 사용되면 부모 요소에 position이 설정되어야 하는데
    이것이 부모 요소를 타고 올라가다 inner에서는 멈추게 하기 위해 position: relative를 설정 */
}


/* HEADER */
header {
    border-bottom: 1px solid rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);
    background: #fff;
}

header .inner {
    height: 78px;
}
header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
    /* menu-group의 높이 중앙 정렬 컨텐츠들을 flex 상태로 가로로 정렬 후,
    align-items로 높이 중앙 정렬함 이때, 높이 값이 설정되어야 해당 높이의 중앙에 정렬
    되기 때문에 높이 값이 필요함 이 경우 heigth: 100%로 부모의 높이 값을 100%사용함. */
}
header .logo {
    margin-right: 10px;
}
header .logo a {
    background: url("../img/logo.svg");
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;
    /* a 태그는 inline 요소로 width, height을 가질 수 없기 때문에 block요소로 만듦 */
    /* css의 background로 이미지를 삽입할 때, html에 Github라는 글자가 남게되는데
    구조적으로 이 로고 이미지가 무엇인지 남기기 위해 삭제하는 대신 text-indent(들여쓰기)
    속성을 -9999의 값으로 넣어 화면에서만 사라지게 만든다. */
}
header .logo a:hover {
    background: url("../img/logo_on.svg");
}
header .main-menu {
    display: flex;
}
header .main-menu li a {
    display: block;
    padding: 10px;
    color: #3c4146;
    /* UI를 고려할 때, 클릭할 수 있는 글자 범위가 작기 때문에 padding의 영역까지 
    클릭이 가능하도록 고려하는 코딩, a 태그의 padding을 줘서 10px까지 클릭이 가능함.
    이때, a 태그는 inline 요소로 padding의 영향을 받지 않으므로 block으로 설정함.  */
}
header .main-menu li a:hover {
    color: #4078c0;
}
header .sign-group {
    display: flex;
    align-items: center;
    height: 100%;
}
header .btn-group {
    order: 2;
    display: flex;
    /* btn 코드에 display: inline-flex로 설정되어 있는데 inline요소로 설정된 버튼 2개가
    HTML에서 줄바꿈되면서 이를 inline-flex가 띄어쓰기로 처리함. 의도치 않은 띄어쓰기를
    display: flex로 제거함.  */
}
header .btn-group .sign-in {
    margin-right: 4px;
}
#search-form {
    order: 1;
    margin-right: 12px;
}
#search {
    width: 160px;
    font-size: 14px;
}
#search + [type="submit"] {
    display: none;
    /* 아이디 search의 +(형제선택자) 중 [](속성선택자)가 type="submit"인 버튼을
    display: none으로 보이지 않게 만드는 코딩 */
}
header .sub-menu {
    display: flex;
    margin-right: 10px;
}
header .sub-menu li a {
    display: block;
    padding: 8px;
    font-size: 13px;
    color: #3c4146;
}
header .sub-menu li a:hover {
    color: #4078c0;
}
#toggle-btn {
    display: none;
    background: url(../img/toggle-btn.svg);
    width: 18px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor:  pointer;
    text-indent: -9999px;
}


/* VISUAL */
.section--visual {
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    /* 이미지가 정해진 크기를 넘어서면 잘리게 되는데 크기에 맞춰 늘어나게 하려면
    background-size를 cover로 설정하면 된다. */
}
.section--visual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(0, 0, 0, .3)
    /* visual영역의 이미지 앞에 투명하고 어두운 막을 설치해 이미지가 조금 어둡게 보이게 함. */
}
.section--visual .inner {
    padding: 160px 0;
    display: flex;
}
.section--visual .summary {
    flex: 1;
    margin-right: 90px;
    flex:1의 값을 넣어야 summary칸의 넓이에 맞춰 택스트가 보여짐
}
.section--visual .summary__title {
    color: #fff;
    font-size: 54px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
                 0 1px 25px rgba(0, 0, 0, .75)
    /* 텍스트에 블러 같은 효과를 주기 위해 쉼표로 여러 개의 택스트 쉐도우를 줄 수 있다. */
}
.section--visual .summary__description {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
                 0 1px 25px rgba(0, 0, 0, .75)
}
#sign-form {
    width: 340px;
    margin-top: 10px;
}
#sign-form li {
    margin-bottom: 17px;
}
#sign-form li:last-child {
    margin-bottom: 0px;
}
#sign-form .input--text {
    width: 100%;
    height: 40px;
}
#sign-form .caption {
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255,255,255,.6);
    line-height: 1.5;
    text-align: center;
}
#sign-form [type="submit"] {
    width: 100%;
    height: 62px;
    padding: 0 25px;
    font-size: 20px;
    justify-content: center;
    /* text-align:center로 문자가 가운데 정렬되지 않는데, submit버튼의 button은
    btn의 적용을 받는데, btn이 display:inline-flex이기 때문에 justify-content로
    가운데 정렬해야함. */
}


/* FEATURE */
.section--feature {
    background: #f5f5f5;
    padding-top: 66px;
}
.section--feature .summary {
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
}
.section--feature .video {
    max-width: 650px;
    margin: 50px auto;
    /* 16:9비율로 축소 확대되는 동영상: video영역에 최대 넓이 지정 */
}
.section--feature .video .video-ratio {
    height: 0;
    padding-top: 56.25%;
    position: relative;
    /* 16:9비율로 축소 확대되는 동영상: padding-top에 16:9비율의 높이 %를 작성 */
}
.section--feature .video .video-ratio iframe {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    /* 16:9비율로 축소 확대되는 동영상: padding안에 iframe을 넣어 16:9비율 완성
    position: absoute설정 후 top, left를 0으로 고정 가로 세로를 최대로 적용 */
}
.section--feature .tiles {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.section--feature .tiles .inner {
    max-width: 1200px;
}
.section--feature .tiles ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.section--feature .tiles li {
    padding: 34px 24px;
    text-align: center;
    line-height: 1.5;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.section--feature .tiles li:last-child {
    border-right: none;
}
.section--feature .tiles li img {
    max-width: 100%;
    padding: 14px 10% 24px;
    box-sizing: border-box;
}
.section--feature .tiles li h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.section--feature .tiles li p {
    font-size: 14px;
    color: #767676;
}


/* WHERE IS */
.section--where-is .inner {
    padding: 80px;
}
#map {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    box-sizing: border-box;
}


/* FOOTER */
footer .inner {
    padding: 50px 0;
    border-top: 1px solid #eee;
}
footer .site-links {
    display: flex;
}
footer .site-links li {
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
}
footer .site-links li a {
    color: #4078c0;
}
footer .site-links li a:hover {
    text-decoration: underline;
}
footer .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    /* position:relative안에 정중앙에 위치시키는 코드 */
}
footer .logo:hover svg {
    fill: #4078c0;
}



/* MEDIA */
@media (max-width: 1024px) {
    .section--visual {
        background-image: url(../img/bg-small.jpg);
    }
    header.section .inner {
        max-width: none;
        height: auto;
        padding: 0 20px;
        /* 가로세로 넓이를 초기화 하기 위해 max-width를 none으로 설정
        이때, max-width는 .section .inner에 정의되어 있기 때문에 
        header .inner보다 우선순위가 높아 header.section .inner로 작성해야함 */
    }
    header .menu-group,
    header .sign-group {
        float: none;
    }
    header .menu-group {
        display: block;
    }
    header .logo {
        padding: 12px 0;
    }
    header .main-menu {
        display: block;
        margin-bottom: 10px;
    }
    header .main-menu li {
        border-top: 1px solid #e5e5e5;
    }
    header .main-menu li a {
        padding: 16px 0;
    }
    header .sign-group {
        display: block;
    }
    header .btn-group {
        display: block;
    }
    header .btn-group .btn {
        justify-content: center;
    }
    header .btn-group .sign-in {
        margin-right: 0;
        margin-bottom: 12px;
    }
    #search-form {
        margin-top:12px;
        margin-right: 0;
    }
    #search {
        width: 100%;
        height: 42px;
        text-align: center;
    }
    header .sub-menu {
        margin-top: 12px;
        margin-right: 0;
        justify-content: center;
    }
    header .toggle {
        display: none;
    }
    header .toggle.on {
        display: block;
    }
    #toggle-btn {
        display: block;
    }


    /* VISUAL */
    .section--visual {

    }
    .section--visual .inner {
        display: block;
        max-width: none;
        padding: 80px 20px;
    }
    .section--visual .summary {
        text-align: center;
        margin-right: 0;
        margin-bottom: 50px;
    }
    #sign-form {
        width: auto;
        max-width: 500px;
        margin: 0 auto;
    }


    /* FEATURE */
    .section--feature .summary {
        padding: 66px 20px 0 20px;
    }
    .section--feature .tiles ul {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .section--feature .tiles li:nth-child(2) {
        border-right: none;
    }
    .section--feature .tiles li img {
        padding: 14px 30% 24px;
    }


    /* WHERE IS */
    .section--where-is .inner {
        max-width: none;
        padding: 80px 20px;
    }
    .section--pricing .card .cell2 {
        font-size: 20px;
    }
    footer .logo {
        display: none;
    }
}